<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns = "http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <bindings>
    <basicHttpBinding>
      <binding name="R2MSBulkUploadSoap" allowCookies="true"
               maxReceivedMessageSize="20000000"
               maxBufferSize="20000000"
               maxBufferPoolSize="20000000">
        <readerQuotas maxDepth="32"
             maxArrayLength="200000000"
             maxStringContentLength="200000000"/>
      </binding>
    </basicHttpBinding>
  </bindings>
</ApplicationInsights>
